.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.header {
    font-size: 3em;
    font-weight: bold;
}

.header span {
    background: linear-gradient(30deg, rgba(255, 166, 0, 1) 0%, rgba(255, 0, 168, 1) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline;
}

.image-container {
    border: double 5px transparent;
    border-radius: 30px;
    background-image: linear-gradient(white, white),
        linear-gradient(30deg, rgba(255, 166, 0, 1) 0%, rgba(255, 0, 168, 1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* width: 100vw; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 5px;
}

.loader img{
    width: 200px;
}

.image-container .image {

    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}


.image-container img {
    cursor: pointer;
    max-width: calc(50% - 10px);
    height: auto;
    gap: 15px;
    max-width: 95%;
    columns: 5 340px;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.gallery .images {
    gap: 15px;
    max-width: 95%;
    columns: 5 340px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
}

.gallery .card {
    display: flex;
    list-style: none;
    margin-bottom: 14px;
}

.gallery .load-more {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #8a6cff;
    cursor: pointer;
    color: white;
}

.gallery .load-more.disable {
    opacity: 0.6;
    pointer-events: none;
}

.gallery .images .card {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.gallery .images .card img{
    cursor: pointer;
}
.gallery .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -100px;
    padding: 10px 20px;
    left: 0;
    width: 89%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    transition: bottom 0.3s ease;
}

.gallery .photograph {
    display: flex;
    align-items: center;
}

.gallery .photograph i {
    color: white;
    font-size: 1.8em;
    margin-right: 5px;
}

.gallery .photograph span {
    color: white;
    font-weight: 200;
}

.gallery .details .import-btn {
    padding: 5px 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}
.card:hover .details{
    bottom: 0;
}
ul li{
    list-style: none;
}
.input-box {
    padding: 0 5px 0 20px;
    width: 96%;
    height: 50px;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.117);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.first-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#images{
    /* display: none; */
    padding: unset;
}
.first-display{
    margin: 20px;
    padding: 100px;
    border-radius: 10px;
    border: 2px dashed #0000003d;
    font-size: 2em;
    font-weight: bold;
    color: #0000003d;
    user-select: none;
}
.input-box input {
    width: 80%;
    height: 60%;
    font-size: 1.2em;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-box button {
    transition: margin-left 0.5s ease, font-size 0.5s ease;
    width: 20%;
    height: 80%;
    border-radius: 18px;
    font-size: 1.3em;
    border: none;
    /* margin-right: -18px; */
    cursor: pointer;
    color: rgba(0, 0, 0, 0.437);
}
.light-box{
    z-index: 1000;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    background: #000000bd;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: opacity 0.5s ease, z-index 0.5s ease;
    opacity: 0;
    z-index: -1;
}
.light-box img{
    border-radius: 10px;
    max-width: 100%;
}
.light-box .uil-times{
    z-index: 1000;
    font-size: 3em;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: white;
}
.light-box .uil-import{
    z-index: 1000;
    cursor: pointer;
    color: white;
    font-size: 3em; 
    position: fixed;
    top: 15px;
    left: 15px;
}
.light-box-container{
    overflow: auto;
    height: 95vh;
    padding: 5px;
    width: 100vw;
    text-align: center;
    transition: scale 0.5s ease;
    scale: 1;
}
@media screen and (max-width: 900px) {
    .input-box button{
        font-size: 1em!important;
        /* margin-left: -40px; */
    }
}